/* 菜单容器 */
.osmenu{
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    cursor:pointer;
    width: 270px;
    height: 1200px;
    font-family: Verdana,Tahoma,Consolas,'Microsoft Yahei';
    margin-top: 50px;
}
/* 每个分类容器 */
.menu-box{
    margin-bottom: 4px;
    overflow: hidden;
}
/* 标题及其子元素(可加hover效果) */
.box-title{
    position: relative;
    height: 45px;
    line-height: 45px;
    background: #354957;
    border-bottom: 1px solid #aaa;
}
.box-title > svg:nth-child(1){
    position: absolute;
    width: 25px;
    height: 25px;
    left:10px;
    top:10px;
}
.box-title > svg:nth-child(1) > path{
    fill: #fff;
}
.box-title > span {
    position: relative;
    left: 50px;
    color: #fff;
}
.box-title > svg:nth-child(3){
    position: absolute;
    width: 25px;
    height: 25px;
    right:16px;
    top:10px;
}
.box-title > svg:nth-child(3) > path{
    fill: #fff;
}
/* item及其子元素(可加hover效果) */
.box-item{
    position: relative;
    line-height: 45px;
    background: #8599a7;
    border-bottom: 1px solid #aaa;
}
.box-item:hover{
    background: #556977;
}
.box-item > svg{
    position: absolute;
    width: 25px;
    height: 25px;
    left:30px;
    top:10px;
}
.box-item > svg > path{
    fill:white;
}
.box-item > span{
    position: relative;
    color: #fff;
    left: 60px;
}
.box-item:hover > span{
    /*color: white;*/
}
/* 活动状态的标题及其子元素 */
.title-active{

}
.title-active > svg:nth-child(1){

}
.title-active > span {

}
.title-active > svg:nth-child(3){

}
/* 活动状态的item及其子元素 */
.item-active{
    background: #556977;
}
.item-active > svg{

}
.item-active > span{

}